{% extends "adminBasic.html" %}
{% load staticfiles %}

{% block sub_nav %}
<li class="nav-item">
  <a class="nav-link {% block nav_myorganization %}{% endblock %}" href="{% url 'web-organization' %}">所有机构</a>
</li>
{% endblock %}

{% block sub_content %}
<div class="container">
  <div class="row">
    <div class="col-lg-3 col-md-4">
      <div class="container">
        <nav class="nav flex-column nav-pills">
          <a class="nav-link {% block nav_organization_info %}{% endblock %}" href="{% url 'web-myorganization-instance' oid %}">机构信息</a>
          {% if 'EDU_ADMIN' in user_info.user.get_identities %}
          <a class="nav-link {% block nav_eduadmin %}{% endblock %}" href="{% url 'web-edu-admin-list' oid %}">教务管理员</a>
          {% endif %}
          {% if 'EDU_ADMIN' in user_info.user.get_identities or 'TEACHER_ADMIN' in user_info.user.get_identities%}
          <a class="nav-link {% block nav_teacher %}{% endblock %}" href="{% url 'web-teacher-list' oid %}">教师</a>
          {% endif %}
          {% if 'EDU_ADMIN' in user_info.user.get_identities or 'STUDENT' in user_info.user.get_identities%}
          <a class="nav-link {% block nav_student %}{% endblock %}" href="{% url 'web-student-list' oid %}">学生</a>
          {% endif %}
          {% if 'EDU_ADMIN' in user_info.user.get_identities  %}
          <a class="nav-link {% block nav_course_meta %}{% endblock %}" href="{% url 'web-course-meta-list' oid %}">课程基类</a>
          {% endif %}
        </nav>
      </div>
      <br class="hidden-md-up">
      <br class="hidden-md-up">
    </div>
    <div class="col-1 row">
      <div class="nav-divider hidden-sm-down"></div>
    </div>
    {% block sub_content2 %}{% endblock %}
  </div>
</div>
{% endblock %}