{% extends "course/adminBasic.html" %}
{% load staticfiles %}

{% block sub_nav %}
<li class="nav-item">

</li>
{% endblock %}

{% block sub_content %}
<div class="container">
  <div class="row">
    <div class="col-lg-3 col-md-4">
      <div class="container">
        <nav class="nav flex-column nav-pills">
          <a class="nav-link {% block nav_mission_group %}{% endblock %}" href="{% url 'web-mission-group-instance' id %}">任务组详细信息</a>
        {% if user_info.functions.is_teacher_up %}
          <a class="nav-link {% block nav_mission %}{% endblock %}" href="{% url 'web-mission-group-mission-list' id %}">任务</a>
        {% endif %}

        </nav>
      </div>
      <br class="hidden-md-up">
      <br class="hidden-md-up">
    </div>
    <div class="col-1 row">
      <div class="nav-divider hidden-sm-down"></div>
    </div>
    {% block sub_content2 %}{% endblock %}
  </div>
</div>
{% endblock %}