{% extends "mission-group/adminBasic.html" %}
{% load staticfiles %}

{% block title %}任务详情{% endblock %}

{% block nav_mission_group %} active {% endblock %}


{% block sub_content2 %}

  <div class="col-lg-8 col-md-10">
    <div id="mission-group-info"></div>

</div>
{% endblock %}
{% block script %}
<script>
SATable.SimpleAjaxInfo({
  id: 'mission-group-info',
  title: '任务组信息',
  getMethod: 'GET',
  removeMethod: 'DELETE',
  getURL: '{% url 'api-mission-group-detail' id %}',
  {% if 'EDU_ADMIN' in user_info.user.get_identities or 'TEACHER_ADMIN' in user_info.user.get_identities %}
  removeURL: '{% url 'api-mission-group-detail' id %}',
  removeToURL: document.referrer,
  {% endif %}
  items: [
     { name: 'courser_meta', caption: '所属课程基类ID', type:'Text',typeInfo: { max_length: 150 } },
    { name: 'meta_caption', caption: '所属课程基类名称', type:'Text',typeInfo: { max_length: 150 } },


    { name: 'id', caption: '任务组ID', type:'Number' },
    { name: 'caption', caption: '任务组名称', type: 'Text', typeInfo: { max_length: 150 } },
    { name: 'introduction', caption: '介绍', type: 'Text', typeInfo: { article: true, max_length: 1024 } },

      'Divide',

    { name: 'available', caption: '可用', type: 'Boolean' },
    { name: 'deleted', caption: '废弃', type: 'Boolean' },
    'Divide',
    { name: 'creator', caption: '创建者', type: 'Text', readOnly: true },
    { name: 'create_time', caption: '创建时间', type: 'Datetime', readOnly: true },
    { name: 'updater', caption: '最后更新者', type: 'Text', readOnly: true },
    { name: 'update_time', caption: '最后更新时间', type: 'Datetime', readOnly: true },

  ]
})
</script>
{% endblock %}
