{% extends "course/adminBasic.html" %}
{% load staticfiles %}

{% block title %}添加教师{% endblock %}

{% block nav_myorganization %} active {% endblock %}

{% block nav_teacher %} active {% endblock %}
{% block sub_content2 %}

<div class="col-lg-8 col-md-10">
    <div id="teacher"></div>
</div>

{% endblock %}
{% block script %}
<script>
function getOptions(ret) {
  var results = ret.results
  var data = []
  for (var i in results) {
    var obj = results[i]
    var text = obj.teacher_id + ': ' + obj.name
    var value = obj.username
    data.push({ text: text, value: value })
  }
  return data
}
SATable.SimpleAjaxForm({
  id: 'teacher',
  method: 'POST',
  toSuccess: '{% url 'web-course-teacher-list' cid %}',
  url: '{% url 'api-course-teacher-list' cid %}',
  items: [
      { name: 'username', caption: '可选教师', type: 'Select', typeInfo: {
        many: false,
        ajax: true,
        ajaxInfo: {
            type: 'GET',
            url: '{% url 'api-course-available-teacher-list' cid %}',
            dataType: 'json',
        },
        responseHandler: SATable.DRF.keepRequest,
        dataGenerator: getOptions
    } },
  ]

})
</script>

 
{% endblock %}