{% extends "adminBasic.html" %}
{% load staticfiles %}

{% block sub_nav %}


{% endblock %}


{% block sub_content %}
<div class="container">
  <div class="row">
    <div class="col-lg-3 col-md-4">
      <div class="container">
        <nav class="nav flex-column nav-pills">
          <a class="nav-link {% block nav_course_group %}{% endblock %}" href="{% url 'web-course-group-instance' gid %}"  >课程组详细信息信息</a>
          <a class="nav-link {% block nav_course_belong %}{% endblock %}" href="{% url 'web-course-group-coursebelong-list' gid %}">下属课程</a>
          <a class="nav-link {% block nav_teacher %}{% endblock %}" href="{% url 'web-course-group-teacher-list' gid %}">教师</a>
           <a class="nav-link {% block nav_mission %}{% endblock %}" href="{% url 'web-course-group-mission-group-list' gid %}">任务组</a>

        </nav>
      </div>
      <br class="hidden-md-up">
      <br class="hidden-md-up">
    </div>
    <div class="col-1 row">
      <div class="nav-divider hidden-sm-down"></div>
    </div>
    {% block sub_content2 %}{% endblock %}
  </div>
</div>
{% endblock %}