{% extends "course/adminBasic2.html" %}
{% load staticfiles %}

{% block title %}添加课程组{% endblock %}

{% block nav_myorganization %} active {% endblock %}

{% block nav_groupin %} active {% endblock %}
{% block sub_content2 %}

<div class="col-lg-8 col-md-10">
    <div id="student"></div>
</div>

{% endblock %}
{% block script %}
<script>
function getOptions(ret) {
  var results = ret.results
  var data = []
  for (var i in results) {
    var obj = results[i]
    var text = obj.gid+ ': ' + obj.caption
    var value = obj.gid
    data.push({ text: text, value: value })
  }
  return data
}
SATable.SimpleAjaxForm({
  id: 'student',
  method: 'POST',
  toSuccess: '{% url 'web-course-groupin-list' cid %}',
  url: '{% url 'api-course-course-group-list' cid %}',
  items: [
      { name: 'gid', caption: '可选课程组', type: 'Select', typeInfo: {
        many: false,
        ajax: true,
        ajaxInfo: {
            type: 'GET',
            url: '{% url 'api-course-available-course-group-list' cid %}',
            dataType: 'json',
        },
        responseHandler: SATable.DRF.keepRequest,
        dataGenerator: getOptions
    } },
  ]

})
</script>

 
{% endblock %}