{% extends "course/adminBasic2.html" %}
{% load staticfiles %}

{% block title %}所在课程组{% endblock %}

{% block nav_myorganization %} active {% endblock %}

{% block nav_groupin %} active {% endblock %}

{% block sub_content2 %}

<div class="col-lg-8 col-md-10">
    <div id="coursegroup"></div>
</div>

{% endblock %}
{% block script %}
<script>
SATable.DRFTable({
  id: 'coursegroup',
  title: '所在课程组',
  url: "{% url 'api-course-course-group-list' cid %}",
  search: true,
  columns: [
      { name: "gid", caption: "课程组ID", sort: true, type: 'Link', typeInfo: { base_url: '{% url 'web-course-groupin-list' cid %}info/', key: 'id' } },

    { name: "caption", caption: "课程组名称", sort: true, type: 'Link', typeInfo: { base_url: '{% url 'web-course-groupin-list' cid %}info/', key: 'id' } },
    { name: "available", caption: "可用", type: 'Boolean' },
      { name: "deleted", caption: "deleted", type: 'Boolean' },
      { name: "create_time", caption: "创建时间", type: 'Datetime' },
      { name: "update_time", caption: "更新时间", type: 'Datetime' },
  ],
    {% if 'EDU_ADMIN' in user_info.user.get_identities %}
  createURL: "{% url 'web-course-student-create' cid%}"
  {% endif %}
})
</script>
{% endblock %}