{% extends "course-group/adminBasic2.html" %}
{% load staticfiles %}

{% block title %}添加下属课程{% endblock %}

{% block nav_myorganization %} active {% endblock %}

{% block nav_course_belong %} active {% endblock %}
{% block sub_content2 %}

<div class="col-lg-8 col-md-10">
    <div id="course"></div>
</div>

{% endblock %}
{% block script %}
<script>
function getOptions(ret) {
  var results = ret.results
  var data = []
  for (var i in results) {
    var obj = results[i]
    var text = obj.cid + ': ' + obj.caption
    var value = obj.username
    data.push({ text: text, value: value })
  }
  return data
}
SATable.SimpleAjaxForm({
  id: 'course',
  method: 'POST',
  toSuccess: '{% url 'web-course-group-coursebelong-list' gid %}',
  url: '{% url 'api-course-group-course-list' gid %}',
  items: [
      { name: 'username', caption: '可选课程', type: 'Select', typeInfo: {
        many: false,
        ajax: true,
        ajaxInfo: {
            type: 'GET',
            url: '{% url 'api-course-group-available-course-list' gid %}',
            dataType: 'json',
        },
        responseHandler: SATable.DRF.keepRequest,
        dataGenerator: getOptions
    } },
  ]

})
</script>

 
{% endblock %}