{% extends "course-group/adminBasic2.html" %}
{% load staticfiles %}

{% block title %}课程信息{% endblock %}

{% block nav_myorganization %} active {% endblock %}
{% block nav_course_belong %} active {% endblock %}


{% block sub_content2 %}
<div class="col-lg-8 col-md-10">
    <div id="courseinfo"></div>
</div>

{% endblock %}
{% block script %}
<script>
SATable.SimpleAjaxInfo({
  id: 'courseinfo',
  title: '课程信息',
  getMethod: 'GET',
  updateMethod: 'PATCH',
  removeMethod: 'DELETE',
  getURL: '{% url 'api-course-group-course-detail' gid id %}',
  updateURL: '{% url 'api-course-group-course-detail' gid id %}',
  removeURL: '{% url 'api-course-group-course-detail' gid id %}',
  removeToURL: document.referrer,
  items: [
    { name: 'meta', caption: '课程基类ID', type:'Text',typeInfo: { max_length: 150 }, readOnly: true },
      { name: 'meta_caption', caption: '课程基类名称', type:'Text',typeInfo: { max_length: 150 }, readOnly: true },
     { name: 'cid', caption: '课程ID', type: 'Number', readOnly: true},
      { name: 'caption', caption: '课程名称', type: 'Text', typeInfo: { max_length: 150 }, readOnly: true },
      { name: 'introduction', caption: '介绍', type: 'Text', typeInfo: { article: true, max_length: 1024 }, readOnly: true },
    'Divide',
      {name: 'weight', caption: '评分权重', type: 'Text'},
    'Divide',
    { name: 'available', caption: '可用', type: 'Boolean' },
    { name: 'deleted', caption: '废弃', type: 'Boolean' },
    'Divide',
    { name: 'creator', caption: '创建者', type: 'Text', readOnly: true },
    { name: 'create_time', caption: '创建时间', type: 'Datetime', readOnly: true },
    { name: 'updater', caption: '最后更新者', type: 'Text', readOnly: true },
    { name: 'update_time', caption: '最后更新时间', type: 'Datetime', readOnly: true },

  ]
})
</script>
{% endblock %}
