{% extends "adminBasic.html" %}
{% load staticfiles %}

{% block sub_nav %}

{% endblock %}

{% block sub_content %}
<div class="container">
  <div class="row">
    <div class="col-lg-3 col-md-4">
      <div class="container">
        <nav class="nav flex-column nav-pills">
        <a class="nav-link {% block nav_mission_info %}{% endblock %}" href="{% url 'web-mission-instance' mid %}">任务详细信息</a>
        <a class="nav-link {% block nav_problem %}{% endblock %}" href="{% url 'web-mission-problem-list' mid %}">题目</a>
        <a class="nav-link {% block nav_submission %}{% endblock %}" href="{% url 'web-mission-submission-list' mid %}">提交</a>
        <a class="nav-link {% block nav_score %}{% endblock %}" href="{% url 'web-mission-score' mid %}">成绩</a>
        {% block sub_nav2 %}{% endblock %}
        </nav>
      </div>
      <br class="hidden-md-up">
      <br class="hidden-md-up">
    </div>
    <div class="col-1 row">
      <div class="nav-divider hidden-sm-down"></div>
    </div>
    {% block sub_content2 %}{% endblock %}
  </div>
</div>
{% endblock %}