{% extends "mission/adminBasic.html" %}
{% load staticfiles %}

{% block title %}任务详情{% endblock %}

{% block nav_mission_info %} active {% endblock %}


{% block sub_content2 %}

  <div class="col-lg-8 col-md-10">
    <div id="missioninfo"></div>
  </div>

{% endblock %}
{% block script %}
<script>
SATable.SimpleAjaxInfo({
  id: 'missioninfo',
  title: '任务信息',
  getMethod: 'GET',
  {% if 'EDU_ADMIN' in user_info.user.get_identities or 'TEACHER_ADMIN' in user_info.user.get_identities %}
  updateMethod: 'PATCH',
  removeMethod: 'DELETE',
  {% endif %}
  getURL: '{% url 'api-mission-detail' mid %}',
{% if 'EDU_ADMIN' in user_info.user.get_identities or 'TEACHER_ADMIN' in user_info.user.get_identities %}
  updateURL: '{% url 'api-mission-detail' mid %}',
  removeURL: '{% url 'api-mission-detail' mid %}',
  removeToURL: document.referrer,
{% endif %}
  items: [
     { name: 'courser_meta', caption: '所属课程基类ID', type:'Text',typeInfo: { max_length: 150 } },
    { name: 'meta_caption', caption: '所属课程基类名称', type:'Text',typeInfo: { max_length: 150 } },


    { name: 'id', caption: '任务ID', type:'Number' },
    { name: 'caption', caption: '任务名称', type: 'Text', typeInfo: { max_length: 150 } },
    { name: 'introduction', caption: '介绍', type: 'Text', typeInfo: { article: true, max_length: 1024 } },
    { name: 'start_time', caption: '开始时间',  type: 'Date'},
    { name: 'end_time', caption: '结束时间',  type: 'Date' },
      'Divide',

    { name: 'available', caption: '可用', type: 'Boolean' },
      { name: 'deleted', caption: '删除', type: 'Boolean' },
    'Divide',
    { name: 'creator', caption: '创建者', type: 'Text', readOnly: true },
    { name: 'create_time', caption: '创建时间', type: 'Datetime', readOnly: true },
    { name: 'updater', caption: '最后更新者', type: 'Text', readOnly: true },
    { name: 'update_time', caption: '最后更新时间', type: 'Datetime', readOnly: true },

  ]
})
</script>
{% endblock %}
