{% extends "course/adminBasic2.html" %}
{% load staticfiles %}

{% block title %}学生信息{% endblock %}

{% block nav_myorganization %}active{% endblock %}
{% block nav_student %} active {% endblock %}
{% block sub_content2 %}

  <div class="col-lg-8 col-md-10">
    <div id="course-teacher-detail"></div>
  </div>

{% endblock %}

{% block script %}
<script>
SATable.SimpleAjaxInfo({
 id: 'course-teacher-detail',
  title: '学生信息',
  getMethod: 'GET',
  updateMethod: 'PATCH',
  removeMethod: 'DELETE',
  getURL: '{% url 'api-course-student-detail' cid  id %}',
  {% if 'EDU_ADMIN' in user_info.user.get_identities or 'ROOT' in user_info.user.get_identities or 'ORG_ADMIN' in user_info.user.get_identities  %}
  removeURL: '{% url 'api-course-student-detail' cid  id %}',
  removeToURL: '{% url 'web-course-student-list' cid  %}',
  {% endif %}
  items: [
    { name:'student_id', caption:'ID',type:'Text',readOnly: true},
    { name: 'username', caption: '用户名', type: 'Text', readOnly: true },
    { name: 'name', caption: '姓名', type: 'Text', typeInfo: { max_length: 150 } },
    { name: 'sex', caption: '性别', type: 'Select', typeInfo: {
    many: false,
    choices: [
    { text: '保密', value: 'SECRET' },
    { text: '男', value: 'MALE' },
    { text: '女', value: 'FEMALE' },
    ]
    } },
    { name:'major', caption:'专业',type:'Text',typeInfo: { max_length: 150 }},
    { name:'grade', caption:'年级',type:'Text',typeInfo: { max_length: 150 }},
    { name:'class_in', caption:'班级',type:'Text',typeInfo: { max_length: 150 }},
    { name: 'introduction', caption: '介绍', type: 'Text' ,typeInfo: { max_length: 150 }},
    'Divide',
    { name: 'available', caption: '可用', type: 'Boolean' },
    { name: 'deleted', caption: '废弃', type: 'Boolean' },
    'Divide',
    { name: 'creator', caption: '创建者', type: 'Text', readOnly: true },
    { name: 'create_time', caption: '创建时间', type: 'Datetime', readOnly: true },
    { name: 'updater', caption: '最后更新者', type: 'Text', readOnly: true },
    { name: 'update_time', caption: '最后更新时间', type: 'Datetime', readOnly: true },
  ]
})
</script>
{% endblock %}
