{% extends "adminBasic.html" %}
{% load staticfiles %}

{% block sub_nav %}
<li class="nav-item">
  <a class="nav-link {% block nav_learning_course %}{% endblock %}" href="{% url 'web-learning-course-list' %}">我学习的课程</a>
</li>

{% endblock %}

{% block sub_content %}
<div class="container">
  <div class="row">
    <div class="col-lg-3 col-md-4">
      <div class="container">
        <nav class="nav flex-column nav-pills">
        <a class="nav-link {% block nav_course_info %}{% endblock %}" href="{% url 'web-course-instance' cid %}">课程详细信息</a>
        <a class="nav-link {% block nav_mission %}{% endblock %}" href="{% url 'web-learning-course-mission-group-list' cid %}">任务组</a>
        {% block sub_nav2 %}{% endblock %}
        </nav>
      </div>
      <br class="hidden-md-up">
      <br class="hidden-md-up">
    </div>
    <div class="col-1 row">
      <div class="nav-divider hidden-sm-down"></div>
    </div>
    {% block sub_content2 %}{% endblock %}
  </div>
</div>
{% endblock %}