{% extends "myorganization/course-meta/adminBasic.html" %}
{% load staticfiles %}

{% block title %}任务{% endblock %}

{% block nav_myorganization %} active {% endblock %}

{% block nav_mission %} active {% endblock %}
{% block sub_content2 %}

<div class="col-lg-8 col-md-10">
    <div id="mission"></div>
</div>

{% endblock %}
{% block script %}
<script>
SATable.DRFTable({
  id: 'mission',
  title: '所有任务',
  url: "{% url 'api-course-meta-mission-list' uid %}",
  search: true,
  columns: [
    { name: "caption", caption: "任务名称", sort: true, type: 'Link', typeInfo: { base_url: '/JudgeOnline/web/mission/info/', key: 'id' } },
    { name: 'start_time', caption: '任务开始时间', sort: true, type: 'Datetime' },
    { name: 'end_time', caption: '任务结束时间', sort: true, type: 'Datetime' },
    { name: "available", caption: "可用", type: 'Boolean' },
    { name: "deleted", caption: "废弃", type: 'Boolean' },
  ],
    createURL: "{% url 'web-myorg-coursemeta-mission-create' oid uid%}"
})
</script>
{% endblock %}