{% extends "adminBasic.html" %}
{% load staticfiles %}

{% block sub_nav %}
<li class="nav-item">
  <a class="nav-link {% block nav_myorganization %}{% endblock %}" href="{% url 'web-organization' %}">所有机构</a>
</li>
{% endblock %}


{% block sub_content %}
<div class="container">
  <div class="row">
    <div class="col-lg-3 col-md-4">
      <div class="container">
        <nav class="nav flex-column nav-pills">
        {% if 'EDU_ADMIN' in user_info.user.get_identities %}
          <a class="nav-link {% block nav_course_info %}{% endblock %}" href="{% url 'web-course-instance' cid %}">课程详细信息</a>
        {% endif %}
        {% if 'EDU_ADMIN' in user_info.user.get_identities %}
          <a class="nav-link {% block nav_groupin %}{% endblock %}" href="{% url 'web-course-groupin-list' cid %}">所在课程组</a>
        {% endif %}
        {% if 'EDU_ADMIN' in user_info.user.get_identities or 'TEACHER' in user_info.user.get_identities%}
          <a class="nav-link {% block nav_teacher %}{% endblock %}" href="{% url 'web-course-teacher-list' cid %}">教师</a>
        {% endif %}
          <a class="nav-link {% block nav_student %}{% endblock %}" href="{% url 'web-course-student-list' cid %}">学生</a>
          <a class="nav-link {% block nav_mission %}{% endblock %}" href="{% url 'web-course-mission-group-list' cid %}">任务组</a>

        </nav>
      </div>
      <br class="hidden-md-up">
      <br class="hidden-md-up">
    </div>
    <div class="col-1 row">
      <div class="nav-divider hidden-sm-down"></div>
    </div>
    {% block sub_content2 %}{% endblock %}
  </div>
</div>
{% endblock %}