{% extends "organization/adminBasic.html" %}
{% load staticfiles %}

{% block title %}题库信息{% endblock %}

{% block nav_organization %}active{% endblock %}
{% block nav_using_category %} active {% endblock %}

{% block sub_content2 %}
<div class="col-lg-8 col-md-10">
    <div id="categoryInfo"></div>
</div>
{% endblock %}

{% block script %}
<script>
SATable.SimpleAjaxInfo({
  id: 'categoryInfo',
  title: '题库详情',
  getMethod: 'GET',
  updateMethod: 'PATCH',
  removeMethod: 'DELETE',
  getURL: '{% url 'admin-organization-categories-detail' oid cid %}',
  updateURL: '{% url 'admin-organization-categories-detail' oid cid %}',
  removeURL: '{% url 'admin-organization-categories-detail' oid cid %}',
  removeToURL: '{% url 'web-organization-categories' oid %}',
  items: [
    { name: 'category_id', caption: '题库ID', type: 'Text', readOnly: true },

    { name: 'title', caption: '题库名称', type: 'Text', typeInfo: { max_length: 150 }, readOnly: true },
    'Divide',
    { name: 'instroduction', caption: '介绍', type: 'Text', readOnly: true},
    { name: 'source', caption: '来源', type: 'Text', readOnly: true},
    { name: 'author', caption: '作者', type: 'Text', readOnly: true},
    { name: 'number_problem', caption: '题目数量', type: 'Text', readOnly: true},
    ]

})

</script>
{% endblock %}
