{% extends "organization/adminBasic.html" %}
{% load staticfiles %}

{% block title %}正在使用的题库{% endblock %}

{% block nav_organization %} active {% endblock %}
{% block nav_using_category %} active {% endblock %}

{% block sub_content2 %}

<div class="col-lg-8 col-md-10">
    <div id="organization"></div>
</div>

{% endblock %}


{% block script %}
<script>
SATable.DRFTable({
  id: 'organization',
  title: '正在使用题库',
  url: "{% url 'admin-organization-categories-list' oid %}",
  search: true,
  columns: [
    { name: 'category_id', caption: '题库ID', sort: true, type: 'Link', typeInfo: { base_url: '{% url 'web-organization-categories' oid %}info/', key: 'id' } },
    { name: "title", caption: "名称", sort: true, type: 'Link', typeInfo: { base_url: '{% url 'web-organization-categories' oid %}info/', key: 'id' } },
    { name: 'source', caption: '来源', sort: true, type: 'Text' },
    { name: 'author', caption: '作者', sort: true, type: 'Text' },
      { name: 'number_problem', caption: '题目数量', sort: true, type: 'Text'},

  ],
  createURL: "{% url 'web-categories-create' oid %}"
})
</script>

{% endblock %}


