{% extends "mission/adminBasic.html" %}
{% load staticfiles %}
{% load utils %}

{% block title %}成绩{% endblock %}

{% block nav_score %}active{% endblock %}

{% block sub_content2 %}

   <div class="col-lg-8 col-md-10">
  <div class="row justify-content-between">
    <div class="col-6">
      <h3>成绩</h3>
    </div>
  </div>
  <br>
  <table class="table" id="success_content">
    <tr>
      <td><b>总览</b></td>
      <td><table class="table" id="information"></table></td>
    </tr>
    <tr>
      <td><b>明细</b></td>
      <td><table class="table" id="scores"></table></td>
    </tr>
  </table>
   <table class="table" id="error_content">
       <tr>
           <td id="error_text"></td>
       </tr>
   </table>
</div>

{% endblock %}

{% block script %}
<script>
$(document).ready(function() {
  var status_map = {
    {% for k in status_map %}
        {{ k| key:0 }}:"{{ k| key:1 }}",
    {% endfor %}
  }
  $("#success_content").hide();
  $("#error_content").hide();
  function append_zero_front(str, len){
      var s = str + '';
      var zero_num = len - s.length >0 ? len - s.length : 0;
      for(var i=0;i<zero_num;++i)s = '0' + s;
      return s;
  }
  function penalty_to_timedelta(penalty){
      var sec, min, hour;
      sec = penalty % 60;
      min = parseInt(penalty / 60);

      hour = parseInt(min / 60);
      min = min % 60;
      return append_zero_front(hour, 2) + ':' + append_zero_front(min, 2) + ':' + append_zero_front(sec, 2);
  }
  $.ajax({
    type: "get",
    url: "{% url 'api-mission-rank-detail' mid uid %}",
    dataType: "json",
    success: function (ret) {
        $("#success_content").show();
        var config = ret['mission_config'];
        var display_type = config['type'];  //oi or acm
        //生成总览信息。
        //生成横向表。ACM模式显示submit_count, solved, penalty(转时间);OI模式显示submit_count, max_score
        if(display_type == "acm"){
            var tr1 = $("<tr></tr>");
            tr1.append($("<td>提交次数</td>"));
            tr1.append($("<td>Solved</td>"));
            tr1.append($("<td>Penalty</td>"));
            var tr2 = $("<tr></tr>");
            var td1 = $("<td></td>");
            var td2 = $("<td></td>");
            var td3 = $("<td></td>");
            td1.text(ret['sub_count']);
            td2.text(ret['solved']);
            td3.text(penalty_to_timedelta(parseInt(ret['penalty'])));
            tr2.append(td1);
            tr2.append(td2);
            tr2.append(td3);
            $("#information").append(tr1);
            $("#information").append($('<hr>'));
            $("#information").append(tr2);
        }else{
            tr1 = $("<tr></tr>");
            tr1.append($("<td>提交次数</td>"));
            tr1.append($("<td>总分</td>"));
            tr1.append($("<td></td>"));
            tr2 = $("<tr></tr>");
            td1 = $("<td></td>");
            td2 = $("<td></td>");
            td3 = $("<td></td>");
            td1.text(ret['sub_count']);
            td2.text(Number(ret['sum_score']).toFixed(2));
            tr2.append(td1);
            tr2.append(td2);
            tr2.append(td3);
            $("#information").append(tr1);
            $("#information").append($('<hr>'));
            $("#information").append(tr2);
        }
        //生成详细成绩。
        //生成纵向表。ACM模式显示题号，提交次数/错误次数，状态，AC时间;OI模式显示题号，提交次数，得分
        if(display_type == "acm"){
            var tr3 = $("<tr></tr>");
            tr3.append($("<td>题号</td>"));
            tr3.append($("<td>提交/错误</td>"));
            tr3.append($("<td>状态</td>"));
            tr3.append($("<td>通过时间</td>"));
            $("#scores").append($('<hr>'));
            $("#scores").append(tr3);
            $("#scores").append($('<hr>'));
        }else{
            tr3 = $("<tr></tr>");
            tr3.append($("<td>题号</td>"));
            tr3.append($("<td>提交</td>"));
            tr3.append($("<td>得分</td>"));
            $("#scores").append($('<hr>'));
            $("#scores").append(tr3);
            $("#scores").append($('<hr>'));
            //同时提取一下oi的分数选择模式
            try{
                var oi_valid_submission = config['type_config']['valid_submission'];
            }catch (e){
                oi_valid_submission = 'invalid';
            }
        }
        var get_oi_score = function(data){
            if(oi_valid_submission == 'highest')return data['max_score'];
            else if(oi_valid_submission == 'latest')return data['latest_score'];
            else return null;
        }
        for(var i in ret['result']){
            var data = ret['result'][i];
            var tr4 = $("<tr></tr>");
            var td_1 = $("<td></td>");
            td_1.text(i);
            tr4.append(td_1);
            if(display_type == "acm"){
                var td_2 = $("<td></td>");
                var td_3 = $("<td></td>");
                var td_4 = $("<td></td>");
                td_2.text(data['sub_count'] + "/" + data['wrong_count']);
                td_3.text(status_map[data['status']]);
                td_4.text(new Date(data['ac_time']).toLocaleString());
                tr4.append(td_2);
                tr4.append(td_3);
                tr4.append(td_4);
            }else{
                td_2 = $("<td></td>");
                td_3 = $("<td></td>");
                td_2.text(data['sub_count']);
                td_3.text(Number(get_oi_score(data)).toFixed(2));
                tr4.append(td_2);
                tr4.append(td_3);
            }
            $("#scores").append(tr4);
        }
    },
      error: function (ret) {
        $("#error_content").show();
        var data = ret.responseJSON;
        if(ret.status==406){
            if(data.cause == 'close')$("#error_text").text("成绩查询目前不可用。请等待任务结束。");
            else $("#error_text").text("成绩查询被禁用。");
        }else if(ret.status==404){
            $("#error_text").append($("<div></div>").text("没有找到成绩数据。"));
            $("#error_text").append($("<div></div>").text("Tips:至少进行一次提交才会有成绩数据产生。"));
        }else{
            $("#error_text").append($("<div></div>").text("错误: " + ret.status));
            var err = "";
            for(var i in data){
                err += " " + i + ": " + data[i] + "\n";
            }
            $("#error_text").append($("<div><pre>" + err + "</pre></div>"));
        }
      }
  })
})
</script>
{% endblock %}