{% extends "mission-group/adminBasic.html" %}
{% load staticfiles %}

{% block title %}任务{% endblock %}

{% block nav_myorganization %} active {% endblock %}

{% block nav_mission %} active {% endblock %}
{% block sub_content2 %}

<div class="col-lg-8 col-md-10">
    <div id="mission_info"></div>
</div>

{% endblock %}

{% block script %}
<script>
SATable.SimpleAjaxInfo({
  id: 'mission_info',
  title: '任务信息',
  getMethod: 'GET',
  updateMethod: 'PATCH',
  removeMethod: 'DELETE',
  getURL: '{% url 'api-mission-group-mission-detail' id mid %}',
  updateURL: '{% url 'api-mission-group-mission-detail' id  mid %}',
  removeURL: '{% url 'api-mission-group-mission-detail' id  mid %}',
  removeToURL: document.referrer,
  items: [
     { name: 'course_meta', caption: '所属课程基类ID', type:'Text',typeInfo: { max_length: 150 }, readOnly: true },
    { name: 'meta_caption', caption: '所属课程基类名称', type:'Text',typeInfo: { max_length: 150 }, readOnly: true },


    { name: 'mission_id', caption: '任务ID', type:'Number', readOnly: true },
    { name: 'caption', caption: '任务名称', type: 'Text', typeInfo: { max_length: 150 }, readOnly: true  },
    { name: 'weight', caption: '评分权重', type: 'Text'},
    { name: 'start_time', caption: '开始时间',  type: 'Date', readOnly: true },
    { name: 'end_time', caption: '结束时间',  type: 'Date', readOnly: true  },
      'Divide',

    { name: 'available', caption: '可用', type: 'Boolean' },
    { name: 'deleted', caption: '废弃', type: 'Boolean' },
    'Divide',
    { name: 'creator', caption: '创建者', type: 'Text', readOnly: true },
    { name: 'create_time', caption: '创建时间', type: 'Datetime', readOnly: true },
    { name: 'updater', caption: '最后更新者', type: 'Text', readOnly: true },
    { name: 'update_time', caption: '最后更新时间', type: 'Datetime', readOnly: true },

  ],
    gotoButton:{
      tooltip: '跳转到任务现场', url: '/JudgeOnline/web/mission/info/{{ mission_id }}/'
    }
})
</script>
{% endblock %}

