{% extends "mission/adminBasic.html" %}
{% load staticfiles %}


{% block title %}提交记录{% endblock %}

{% block nav_submission %}active{% endblock %}

{% block sub_content2 %}
  <div class="col-lg-8 col-md-10">
  <h3 id="id">提交 - {{ submission.id }}</h3>
  <br>
  <div id="success_content">
  <h4>提交信息</h4>
  <table class="table">
    <tr class="col-12 row">
      <td class="col-4"><b>提交ID</b></td>
      <td class="col-8" id ="sid"></td>
    </tr>
    <tr class="col-12 row">
      <td class="col-4"><b>题目</b></td>
      <td class="col-8" id ="problem"></td>
    </tr>
    <tr class="col-12 row">
      <td class="col-4"><b>语言</b></td>
      <td class="col-8" id="language"></td>
    </tr>
    <tr class="col-12 row">
      <td class="col-4"><b>用户</b></td>
      <td class="col-8" id="user"></td>
    </tr>
    <tr class="col-12 row">
      <td class="col-4"><b>提交时间</b></td>
      <td class="col-8" id="submit_time"></td>
    </tr>
    <tr class="col-12 row">
      <td class="col-4"><b>更新时间</b></td>
      <td class="col-8" id="update_time"></td>
    </tr>
    <tr class="col-12 row">
      <td class="col-4"><b>提交IP</b></td>
      <td class="col-8" id="ip"></td>
    </tr>
  </table>
  <br>
  <h4>评测信息</h4>
  <table class="table">
      {% if display_type == 'acm' %}
    <tr class="col-12 row">
      <td class="col-4"><b>评测状态</b></td>
      <td class="col-8" id="status"></td>
    </tr>
      {% else %}
    <tr class="col-12 row">
      <td class="col-4"><b>完成度</b></td>
      <td class="col-8" id="score"></td>
    </tr>
      {% endif %}
    <tr class="col-12 row">
      <td class="col-4"><b>时间</b></td>
      <td class="col-8" id="time"></td>
    </tr>
    <tr class="col-12 row">
      <td class="col-4"><b>内存</b></td>
      <td class="col-8" id="memory"></td>
    </tr>
    <tr class="col-12 row">
      <td class="col-4"><b>长度</b></td>
      <td class="col-8" id="length"></td>
    </tr>
    <tr class="col-12 row" id="div_compile_info">
      <td class="col-4"><b>编译信息</b></td>
      <td class="col-8"><pre id="compile_info"></pre></td>
    </tr>
{#    <tr class="col-12 row">#}
{#      <td class="col-4"><b>详细数据</b></td>#}
{#      <td class="col-8">#}
{#        <table class="table">#}
{#          <thead>#}
{#            <tr>#}
{#              <th>测试数据ID</th>#}
{#              <th>时间</th>#}
{#              <th>内存</th>#}
{#              <th>状态</th>#}
{#            </tr>#}
{#          </thead>#}
{#          <tbody id="test_data">#}
{#          </tbody>#}
{#        </table>#}
{#      </td>#}
{#    </tr>#}
  </table>
  <br>
  <h4>代码</h4>
  <div class="jumbotron">
    <table id="code"></table>
  </div>
  </div>
  <div id="error_content">
      <table class="table">
          <tr><td id="error_text"></td></tr>
      </table>
  </div>
</div>
{% endblock %}

<script src="{% static 'highlight/highlight.pack.js' %}"></script>
<script>hljs.initHighlightingOnLoad();</script>
{% block script %}
<script>
$(document).ready(function() {
  $.ajax({
    type: "get",
    url: "{% url 'api-mission-submission-detail' mid sid %}",
    dataType: "json",
    success: function(ret) {
      $("#error_content").hide()
      $("#id").text(("提交 -" + ret.id));
      $("#sid").text(ret.id);
      $("#problem").text(ret.problem_title);
      $("#language").text(ret.env_name);
      $("#user").text(ret.user_name);
      $("#ip").text(ret.ip);
      var iDate = new Date(ret.submit_time)
      var info = iDate.toLocaleString()
      $("#submit_time").text(info);
      iDate = new Date(ret.update_time)
      info = iDate.toLocaleString()
      $("#update_time").text(info);
        {% if display_type == 'acm' %}
      $("#status").text(ret.status_word);
        {% else %}
      $("#score").text(ret.score);
        {% endif %}
      $("#time").text(ret.time>=0?ret.time + ' MS':'');
      $("#memory").text(ret.memory>=0?ret.memory + ' KB':'');
      $("#length").text(ret.length);
      if(ret.compile_info!=null&&ret.compile_info.length>0)$("#compile_info").text(ret.compile_info);
      else $("#div_compile_info").hide();
      $("#source").text(ret.problem.source);
      var code_count = Object.keys(ret.code).length
      if(code_count==1){
            var x = null;
            for(var c in ret.code)x=c;
            $("#code").append($("<tr></tr>").append($('<td></td>').append($('<pre></pre>').text(ret.code[x]))));
      }else if(code_count>1){
          for(c in ret.code){
            $("#code").append($("<tr><td><b>" + c + "</b></tr></td>"));
            $("#code").append($("<tr></tr>").append($('<td></td>').append($('<pre></pre>').text(ret.code[c]))));
          }
      }

{#      for(var i in ret.test_data_status)#}
{#      {#}
{#          var datas = ret.test_data_status;#}
{#          var tr = $("<tr></tr>")#}
{#          var td1 = $("<td></td>")#}
{#          var td2 = $("<td></td>")#}
{#          var td3 = $("<td></td>")#}
{#          var td4 = $("<td></td>")#}
{#          $(td1).text(i)#}
{#          $(td2).text(datas[i].time + "毫秒")#}
{#          $(td3).text(datas[i].memory + "KB")#}
{#          $(td4).text(datas[i].status)#}
{#          $(tr).append(td1)#}
{#          $(tr).append(td2)#}
{#          $(tr).append(td3)#}
{#          $(tr).append(td4)#}
{#          $("#test_data").append(tr)#}
{#      }#}
    },
      error: function (ret) {
        $("#success_content").hide()
          if(ret.status == 406){
            var data = ret.responseJSON;
            if(data.cause == "no_others"){
              $("#error_text").text("你不能查看其他人的提交信息。")
            }
          }
      }
  })
})

</script>
{% endblock %}