{% extends "myorganization/adminBasic.html" %}
{% load staticfiles %}

{% block title %}课程基类{% endblock %}

{% block nav_myorganization %} active {% endblock %}
{% block nav_course_meta %} active {% endblock %}

{% block sub_content2 %}

<div class="col-lg-8 col-md-10">
    <div id="organization"></div>
</div>

{% endblock %}


{% block script %}
<script>
SATable.DRFTable({
  id: 'organization',
  title: '课程基类',
  url: "{% url 'api-organization-course-meta-list' oid %}",
  search: true,
  columns: [
    { name: "caption", caption: "名称", sort: true, type: 'Link', typeInfo: { base_url: '{% url 'web-course-meta-list' oid %}info/', key: 'id' } },
    { name: 'create_time', caption: '创建时间', sort: true, type: 'Datetime' },
    { name: 'update_time', caption: '最后更新', sort: true, type: 'Datetime' },
    { name: "available", caption: "可用", type: 'Boolean' },
    { name: "deleted", caption: "废弃", type: 'Boolean' },
  ],
{% if 'EDU_ADMIN' in user_info.user.get_identities or 'ROOT' in user_info.user.get_identities or 'ORG_ADMIN' in user_info.user.get_identities %}
  createURL: "{% url 'web-course-meta-create' oid %}"
{% endif %}
})
</script>

{% endblock %}


